.list {
  /* color: #f5c7a9; */
  padding: 0px 20px;
}
ul {
  list-style-type: none;
}
li {
  display: block;
  border: 3px solid #f5e8e4;
  padding: 3px;
  margin: auto;
}
.userList {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 22px;
  background-color: #f5c7a9;
  border-radius: 10px;
  padding: 1% 1% 1% 1%;
}
