.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  /* overflow: hidden; */
  background: #411530;
  border-radius: 15px;
}

.header {
  background: #f5e8e4;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.header h2 {
  margin: 0;
  color: #411530;
}

.content {
  padding: 1rem;
  color: #f5e8e4;
  font-size: 1.2rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

/* ---------------------------MY OWN-------------------------- */

/* .modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  display: flex;

  transition: opacity 250ms ease;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-container:target {
  opacity: 1;
  pointer-events: all;
}

.modal {
  margin: auto;
  width: 90%;
  max-width: 40rem;
  background: linear-gradient(135deg, hsl(24, 79%, 81%), hsl(13, 65%, 50%));
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(31, 6, 6, 0.667);
}

.modal-header,
.modal-content {
  padding: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: hsla(300, 80%, 90%, 0.2);
  border-radius: 1.5rem 1.5rem 0 0;
  border: 4px solid #f7baf72f;
  border-bottom: none;
}

.modal-title {
  margin: 0;
  color: white;
}

.modal-content {
  color: white;
  border-radius: 0 0 1.5rem 1.5rem;
  border: 4px solid #f7baf744;
  border-top: none;
} */
